.ProjectBox {
    width: 350px;
    height: 350px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px 10px #858585;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.ProjectBox .BoxName {
    background-color: rgb(255, 172, 19);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    border-radius: 10px;
    height: 50px;
    align-items: center;
}

.ProjectBox .BoxName p {
    font-size: 25px;
    font-weight: bold;
    width: 310px;
    display: flex;
    justify-content: center;
}

.ProjectBox .Trash {
    font-size: 20px;
    cursor: pointer;
    display: flex;
}

.ProjectBox .BoxBudget {
    background-color: rgb(255, 255, 255);
    border: 2px solid #999;
    box-shadow: 5px 5px 10px #858585;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectBox .BoxBudget p {
    font-size: 18px;
    font-weight: 700;
}

.ProjectBox .BoxBudget span {
    font-size: 22px;
    font-weight: bold;
}

.ProjectBox .BoxCategory {
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    border-radius: 3px;
}

.ProjectBox .BoxCategory p {
    font-size: 18px;
    font-weight:700;
}

.ProjectBox .BoxCategory span {
    font-size: 22px;
    font-weight: bold;
}